{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-lg-8">
            {% if threads %}
                <h2 class="fw-bold">All Threads</h2>
                <p class="mb-4">Browse the latest posts from the community.</p>
                <div class="row gap-3">
                    {% for thread in threads %}
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="text-muted">{{ thread.author.username }} · {{ thread.created_at.strftime('%m-%d-%Y') }}</h6>
                                    <p class="">{{ thread.body }}</p>
                                    <div class="w-25 d-flex align-items-center justify-content-between">
                                        <a class="text-decoration-none text-muted" href=""><i class="bi bi-heart text-danger"></i> {{ thread.likes }}</a>
                                        <span class="text-muted"><i class="bi bi-eye-fill"></i> {{ thread.views }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center">
                    <h4>No threads yet</h4>
                    <p class="mb-4">Be the first to start a conversation!</p>
                    <img src="{{ url_for('static', filename='not-found.png') }}" class="w-50">
                </div>
            {% endif %}
        </div>
        <div class="col-md-4 col-lg-4">
            <h4>What's on your mind?</h4>
            <p class="mb-4">Share your thoughts with the community below.</p>
            <form action="{{ url_for('routes.home') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="mb-4">
                    {{ form.body.label(class="form-label") }}
                    {{ form.body(class="form-control" + (' is-invalid' if form.body.errors else ''), placeholder='Type body content here ...', row=3) }}
                    <div class="text-muted small">{{ form.body.description }}</div>
                    {% for error in form.body.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                {{ form.submit(class="btn btn-dark w-100") }}
            </form>
        </div>
    </div>
{% endblock %}